@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Julius+Sans+One&display=swap');

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables de estilo */
:root {
    --white: #FFFFFF;
    --dark-100: #ADABD9;
    --dark-200: #9290C3;
    --dark-300: #535C91;
    --dark-400: #1B1A55;
    --dark-500: #070F2B;
    --light-100: #F3F5FC;
    --light-200: #EFF1FA;
    --light-300: #E9ECF8;
    --light-400: #AAB2D5;
    --light-500: #757FB2;
    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
    --font-title: "Julius Sans One", sans-serif;
    --font-text: "Inter", sans-serif;
}

body{
    background-color: var(--light-100);
    height: 100vh;
    
}

.encabezado{
    display: flex;
    align-items: center;
    gap: 4%;
    padding: 2% 0 0 2%;
}
.encabezado__imagen{
    width: 4rem;
    height: 4rem;
}
.encabezado__imagen-relleno{
    fill: var(--white);
}
.encabezado__titulo{
    font-size: 2.5rem;
    font-family: var(--font-title);
    color: var(--dark-400);
}
.principal{
    display: flex;
    justify-content: stretch; /* Ajusta el contenido a lo largo del eje principal */
    height: 100vh;
    align-items: center;
    padding: 3% 5% 5% 10.5%;
    gap: 10%;
}
.escritura{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
}
.escritura__input{
    width: 100%;
    height: 100%;
    resize: none;
    scrollbar-width: thin;
    scrollbar-color: var(--light-300) transparent;
    background-color: var(--light-100);
    border: 0 none;
    font-family: var(--font-text);
    font-size: 2rem;
    color: var(--dark-300);
    margin: 0 0 5% 0;
}
.escritura__input::placeholder{
    color: var(--dark-200);
}
.escritura__input:focus{
    outline-color: var(--light-400);

}
.escritura__mensaje{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    color: var(--dark-400);
    font-family: var(--font-text);
    font-size: 0.75rem;
}
.escritura__botones{
    display: flex;
    text-align: center;
    gap: 5%;
}
.icono_boton{
    width: 1.5rem;
    height: 1.5rem;
}
.texto_boton{
    padding: 0;
    width: 100%;
    font-family: var(--font-text);
    font-size: 1rem;
}
.boton_dark{
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 0%;
    background-color: var(--dark-300);
    color: var(--white);
    font-family: var(--font-text);
    border: 0 none;
    border-radius: 24px;
    padding: 27px;
    cursor: pointer;
}
.boton_dark:hover{
    background-color: var(--dark-400);
}

.boton_light{
    display: flex;
    justify-content: center;
    gap: 0%;
    background-color: var(--light-100);
    color: var(--dark-300);
    font-family: var(--font-text);
    border: 1px solid var(--dark-300);
    border-radius: 24px;
    padding: 27px;
    cursor: pointer;
}
.boton_light:hover{
    background-color: var(--light-300);
}
.boton_desencriptar{
    width: 40%
}

.resultado{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding-bottom: 2rem;
}
.resultado__esperaTexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.resultado__esperaTexto__imagen{
    width: 80%;
}
.resultado__esperaTexto__subtitulo{
    font-size: 1.5rem;
    font-family: var(--font-text);
    color: var(--gray-500);
    padding: 1rem 0;
    text-align: center;
}
.resultado__esperaTexto__info{
    font-size: 1rem;
    font-family: var(--font-text);
    color: var(--gray-400);
    text-align: center;
}

.resultado__texto{
    width: 80%;
    height: 100%;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--light-200) transparent;
    resize: none;
    border: 0 none;
    font-family: var(--font-text);
    font-size: 1.5rem;
    color: var(--gray-400);
    padding: 2%;
}

.boton_copiar{
    width: 80%;
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 1rem;
    background-color: var(--dark-400);
    color: var(--gray-100);
    font-family: var(--font-text);
    font-size: 1.2rem;
}

.footer__boton{
    text-decoration: none;
    font-family: var(--font-text);
    color: var(--gray-100);
    font-size: 1rem;
    padding: 0.5rem;
    background-color: var(--light-500);
    border-radius: 8px;
    width: 10%;
    text-align: center;
}
.footer__boton:hover{
    background-color: var(--dark-300);
}

.footer__texto{
    font-size: 0.75rem;
    font-family: var(--font-text);
    color: var(--gray-200);
    padding: 0.5rem 0;
    text-align: center;
}

.hidden{
    display: none;
}


/* Media queries */
/* Tablets */
@media screen and (max-width: 1200px){
    .principal{
        flex-direction: column;
        padding: 3% 5% 5% 5%;
    }
    .escritura{
        width: 100%;
        height: 50%;
    }
    .escritura__botones{
        justify-content: center;
    }
    .boton_dark{
        width: 50%;
    }
    .boton_desencriptar{
        width: 50%;
    }
    .resultado{
        width: 100%;
        height: auto;
        max-height: 30vh;
        padding-bottom: 0.5rem;
    }
    .resultado__esperaTexto__imagen{
        display: none;
    }
    .resultado__esperaTexto__subtitulo{
        font-size: 1rem;
    }
    .resultado__esperaTexto__info{
        font-size: 0.75rem;
    }
    .resultado__texto{
        font-size: 1rem;
    }
    .footer__boton{
        width: 20%;
    }
}

